---
---
@charset "utf-8";

header {
  margin-bottom: 1rem;
}

footer {
  margin-top: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
  font-size: 85%;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.8em;
}

.session {
  margin-top: 2em;

  .speaker-image {
    margin-bottom: 1em;
    margin-right: 2em;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #dedede;
  }

  .content {
    h5 a {
      display: none;
    }
    h5:hover {
      a:before {
        content: " ";
      }
      a {
        display: inline;
        text-decoration: none;
        font-size: 70%;
      }
    }
  }

  .summary {
    margin-bottom: 0.2em;
  }

  .speaker {
    border: 1px solid #eee;
    margin-top: 0.8em;
    padding: 0.5em;
    font-size: 0.9em;
    color: #666;
    list-style: none;

    .name {
      font-weight: 600;
      margin-bottom: 0.2em;
    }

    ul {
      padding-left: 1.8em;
    }
  }
}

.session:not(:last-child) {
  margin-bottom: 2.5em;
}
