---
title: "Schedule"
---

{% assign tracks = site.data.sessions | map: "track" | uniq %}

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>시간</th>
      <th>HALL</th>
      {% for track in tracks %}
        <th>TRACK {{ track }}</th>
      {% endfor %}
    </thead>

    <tbody>
      {% assign times = site.data.sessions | map: "time" | uniq %}
      {% for time in times %}
        <tr>
          <td>
            {% if time == 0 %}
              {% assign time_str = "14:20 - 15:10" %}
            {% elsif time == 1 %}
              {% assign time_str = "15:20 - 16:10" %}
            {% elsif time == 2 %}
              {% assign time_str = "16:20 - 17:10" %}
            {% elsif time == 3 %}
              {% assign time_str = "17:20 - 18:10" %}
            {% else %}
              {% assign time_str = time %}
            {% endif %}
            <span class="hidden-sm-down">{{ time_str }}</span>
            <span class="hidden-md-up">{{ time_str | split: "-" | first }}</span>
          </td>
          {% if time == 0 %}
            <td rowspan="{{ times | size }}" class="cell-hall">자유롭게 이야기하며 할 일 하기</td>
          {% endif %}
          {% for session in site.data.sessions %}
            {% if session.time == time %}
              <td class="cell-session">
                {% assign session_id = "session"
                  | append: "-track-"
                  | append: session.track
                  | append: "-time-"
                  | append: session.time %}
                <a href="#{{ session_id }}">{{ session.title }}</a>
                <br />
                {% if session.speaker.company != empty %}
                  <small class="hidden-sm-down">
                    {{ session.speaker.name }} ({{ session.speaker.company }})
                  </small>
                  <small class="hidden-md-up">
                    {{ session.speaker.name }}
                  </small>
                {% else %}
                  <small>{{ session.speaker.name }}</small>
                {% endif %}
                <br />
                <small class="text-muted">
                  {% if session.track == 1 %}
                    2층 10번 회의실
                  {% elsif session.track == 2 %}
                    2층 7번 회의실
                  {% elsif session.track == 3 %}
                    1층 카페 안쪽 회의실
                  {% endif %}
                </small>
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
