---
title: "Sessions"
---

<ul class="media-list">
  {% for session in site.data.sessions %}
    <li class="media session">
      <div class="media-left">
        {% if session.speaker.image_name and session.speaker.image_name != '' %}
          {% assign image_url = "/images/speakers/" | append: session.speaker.image_name | relative_url %}
        {% else %}
          {% assign image_url = "https://placehold.it/150x150" %}
        {% endif %}
        <div class="media-object float-sm-left rounded-circle speaker-image"
          style="background-image: url('{{ image_url }}')" />
      </div>
      <div class="media-body">
        <small class="time">{{ session.time }} / TRACK {{ session.track }}</small>
        <h5>{{ session.title }}</h5>
        <p class="summary">{{ session.summary }}</p>
        <div class="speaker">
          <p class="name">{{ session.speaker.name }}</p>
          <ul>
            {% if session.speaker.company and session.speaker.company != '' %}
              <li class="company">{{ session.speaker.company }}</li>
            {% endif %}
            {% if session.speaker.bio and session.speaker.bio != '' %}
              <li class="bio">{{ session.speaker.bio }}</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
