---
title: "Sessions"
---

<p>각 분야 전문가들과 다양한 주제로 이야기할 수 있습니다. 동시에 3개의 트랙이 운영되며, 원하는 세션에 자유롭게 참가해서 전문가들과 이야기를 나눌 수 있습니다. 각 세션에는 최대 8-10명이 참여할 수 있습니다. 세션에 참가하지 않더라도 메인 홀에서 자유로운 주제로 대화가 가능합니다.</p>

<ul class="media-list">
  {% assign current_track = 0 %}
  {% for session in site.data.sessions %}
    {% if session.track != current_track %}
      <h4>Track {{ session.track }}</h4>
      {% assign current_track = session.track %}
    {% endif %}

    {% assign session_id = "session"
      | append: "-track-"
      | append: session.track
      | append: "-time-"
      | append: session.time %}
    <li class="media session" id="{{ session_id }}">
      <div class="media-left">
        {% if session.speaker.image_name and session.speaker.image_name != '' %}
          {% assign image_url = "/images/speakers/" | append: session.speaker.image_name | relative_url %}
        {% else %}
          {% assign image_url = "/images/logo_image.jpg" | relative_url %}
        {% endif %}
        <div class="media-object float-sm-left rounded-circle speaker-image"
          style="background-image: url('{{ image_url }}')" />
      </div>
      <div class="media-body content">
        <small class="time">
          {% if session.time == 0 %}
            {% assign time_str = "14:20 - 15:10" %}
          {% elsif session.time == 1 %}
            {% assign time_str = "15:20 - 16:10" %}
          {% elsif session.time == 2 %}
            {% assign time_str = "16:20 - 17:10" %}
          {% elsif session.time == 3 %}
            {% assign time_str = "17:20 - 18:10" %}
          {% else %}
            {% assign time_str = session.time %}
          {% endif %}
          {{ time_str }} / TRACK {{ session.track }}
        </small>
        <h5>{{ session.title }}<a href="#{{ session_id }}">🔗</a></h5>
        <p class="summary">{{ session.summary }}</p>
        <div class="speaker">
          <p class="name">{{ session.speaker.name }}</p>
          <ul>
            {% if session.speaker.company and session.speaker.company != '' %}
              <li class="company">{{ session.speaker.company }}</li>
            {% endif %}
            {% if session.speaker.bio and session.speaker.bio != '' %}
              <li class="bio">{{ session.speaker.bio }}</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
