<!DOCTYPE html>
<html lang="ko">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="container">
      {{ content }}
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=8738a3ddc62dbfd7a0be362061630d82"></script>
    <script type="text/javascript" src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
